body {
	/* background: #000; */
}

/*
body {
  margin: 0;
  font: 14px/134% Helvetica Neue, sans-serif;
}


#wrapper {
  display: table-cell;
  vertical-align: middle;
}


#fig {
  position: relative;
  margin: auto;
	width: 880px;
	height: 400px;
}
*/